<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar') %>
        <div class="row">
            <div class="col-6 mx-auto">
                <form action="/products" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <!-- Name has to be same as in the schema -->
                        <label for="naam:">Name: </label>
                        <input type="text" class="form-control" name="name" id="naam" placeholder="Name of the product"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the name field.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Image:">Image: </label>
                        <input type="text" class="form-control" name="img" id="img" placeholder="Image URL the product"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the image URL field.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Paisa:">Price: </label>
                        <input type="number" class="form-control" name="price" id="paisa"
                            placeholder="Price of the product" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the Price field.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Desc:">Description: </label> <br>
                        <textarea name="desc" id="desc" rows="3" placeholder="Description of the product."
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the description field.
                        </div>
                    </div>
                    <button class="btn btn-small btn-success">Add Product</button>
                </form>
            </div>
        </div>

        <script>

            //IIFE - Immediately Invoked Function Expression.
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
        </body>

        </html>